* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: hidden;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #237A57;
  position: fixed;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

ul.sidenav li {
  flex: 1;
}

ul.sidenav li a {
  display: grid;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid darkgreen;
  border-right: 1px solid darkgreen;
  font-size: 20px;
}

div.sticky {
  display: none;
}

i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  color: white;
}

p {
  margin-top: 0;
  font-size: 17px;
}

ul.sidenav li a:hover {
  background: #1E6A77;
}

div.content {
  margin-left: 10%;
  /* padding: 1px 16px; */
  /* display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FCD966; */
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
  }
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  .nav-mobile div:hover {
    cursor: pointer;
  }
  div.content {
    margin-left: 0;
  }
  ul.sidenav {
    display: none;
  }
  div.sticky {
    display: block;
    position: sticky;
    top: 0;
  }
  div.nav-mobile {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  div.nav-mobile>div {
    background: #237a57;
    flex: 1;
    border-right: 1px solid #FCD966;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  div.nav-mobile>div:hover {
    background: #1E6A77;
  }
  div.nav-mobile>div:last-child {
    border: none;
  }
  i {
    align-self: auto;
  }
}

/* ---------------------------------PÁGINAS--------------------------------- */

.pagina {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px 16px;
}

#pagina-inicio, #pagina-servicios, #pagina-instalaciones, #pagina-reservar {
  align-items: center;
}

#pagina-inicio {
  background-color: #f8fba2;
}

#pagina-servicios {
  background-color: #a0e4b0;
  justify-content: center;
}

#pagina-instalaciones {
  background-color: #f8fba2;
}

#pagina-reservar {
  background-color: #a0e4b0;
}

.servicios, .inicio {
  height: 100vh;
}

img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

h2 {
  text-align: center;
  color: #237a57;
}

#inicio {
  width: 100%;
  height: 40vh;
  background-color: #004d61;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#container-info {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

#container-info > div {
  flex: 1;
  height: 60vh;
}

#container-info > div:nth-child(1) {
  background-color: #b52b2b;
}
#container-info > div:nth-child(2) {
  background-color: #ffa372;
}
#container-info > div:nth-child(3) {
  background-color: #5bd1d7;
}