.pagina {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 16px 16px;
}

#pagina-inicio, #pagina-servicios, #pagina-reservar, #pagina-registro, #pagina-login {
    align-items: center;
}

#pagina-inicio {
    background-color: #f8fba2;
}

#pagina-servicios {
    background-color: #a0e4b0;
    justify-content: center;
}

#pagina-instalaciones {
    background-color: #f8fba2;
    flex-wrap: wrap;
}

#pagina-reservar {
    background-color: #a0e4b0;
    justify-content: center;
}

#pagina-registro {
    background-color: #f8fba2;
    justify-content: center;
}

#pagina-login {
    background-color: #a0e4b0;
    justify-content: center;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    text-align: center;
    color: #237a57;
}

h3 {
    font-size: 2em;
}

#inicio {
    width: 100%;
    height: 40vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: url("../images/tenis-grayscale.jpg");
    background-size: cover;
    display: flex;
}

#inicio>img {
    margin: initial;
    max-width: 23%;
    min-width: 340px;
}

#container-info {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

#container-info>div {
    width: 100%;
}

.columna {
    width: 98%;
    margin-left: 1%;
}

.columna .cabecera-clases {
    background-color: #b52b2b;
}

.columna .cabecera-entrenamientos {
    background-color: #e78753;
}

.columna .cabecera-campeonatos {
    background-color: #5bd1d7;
}

#container-info .columna h3 {
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2em;
    line-height: 2;
    margin: 5px 0px;
}

#login {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
}

#login>div {
    text-align: center;
    flex: 1;
}

#login>div>img {
    max-width: 100%;
    opacity: 0.8;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

#login>div:nth-child(1) {
    flex-grow: 4;
    background: #11998e;
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

#login>div:nth-child(2) {
    flex-grow: 6;
    background: white;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login div form input {
    outline: 0;
    background: white;
    border: 2px solid #274a3e;
    border-radius: 50px;
    padding: 7px;
    min-width: 300px;
    color: transparent;
    text-shadow: 0 0 0 #6f3b3b;
    margin-bottom: 30px;
}

#login div form>#form-username, #login div form>#form-username-register {
    background-image: url("../images/user.png");
    background-position: 8px 0px;
    background-repeat: no-repeat;
}

#login div form>#form-email-register {
    background-image: url("../images/email.png");
    background-position: 8px 0px;
    background-repeat: no-repeat;
}

#login div form>#form-password, #login div form>#form-password-register, #login div form>#form-password-register-repeat {
    background-image: url("../images/password.png");
    background-position: 8px 0px;
    background-repeat: no-repeat;
}

#login div form input[type="submit"] {
    background: #274a3e;
    color: white;
    cursor: pointer;
}

#login div form input[type="submit"]:hover {
    color: #274a3e;
    background: white;
}

#upm-iframe {
    width: 70%;
    height: 100%;
}

#upm-disposicion {
    width: 30%;
    height: 100%;
}

#upm-disposicion>ul>li>p {
    color: #635656;
    line-height: 2;
    font-size: 1.4em;
}

#upm-disposicion ul li {
    list-style: upper-roman;
}