@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Solway', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: hidden;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #237A57;
  position: fixed;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

ul.sidenav li {
  flex: 1;
}

ul.sidenav li a {
  display: grid;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid darkgreen;
  border-right: 1px solid darkgreen;
  font-size: 20px;
}

div.sticky {
  display: none;
}

i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  color: white;
}

p {
  align-self: stretch;
  font-size: 13px;
}

ul.sidenav li a:hover {
  background: #1E6A77;
}

div.content {
  margin-left: 10%;
}

@media screen and (max-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
  }
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  .nav-mobile div:hover {
    cursor: pointer;
  }
  div.content {
    margin-left: 0;
  }
  ul.sidenav {
    display: none;
  }
  div.sticky {
    display: block;
    position: sticky;
    top: 0;
  }
  div.nav-mobile {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
  div.nav-mobile>div {
    background: #237a57;
    flex: 1;
    border-right: 1px solid #FCD966;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  div.nav-mobile>div:hover {
    background: #1E6A77;
  }
  div.nav-mobile>div:last-child {
    border: none;
  }
  i {
    align-self: auto;
  }
  #pagina-login>#login>div:first-child {
    display: none;
  }
  #login {
    height: 100%;
  }
  #login>div:nth-child(2) {
    border-radius: 0% !important;
  }
  #pagina-login {
    padding: 0;
  }
}

/* ---------------------------------PÃGINAS--------------------------------- */

.pagina {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px 16px;
}

#pagina-inicio, #pagina-servicios, #pagina-instalaciones, #pagina-reservar, #pagina-registro, #pagina-login {
  align-items: center;
}

#pagina-inicio {
  background-color: #f8fba2;
}

#pagina-servicios {
  background-color: #a0e4b0;
  justify-content: center;
}

#pagina-instalaciones {
  background-color: #f8fba2;
  justify-content: center;
}

#pagina-reservar {
  background-color: #a0e4b0;
  justify-content: center;
}

#pagina-registro {
  background-color: #f8fba2;
  justify-content: center;
}

#pagina-login {
  background-color: #a0e4b0;
  justify-content: center;
}

img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

h1 {
  font-size: 4em;
  margin: 0;
}

h2 {
  text-align: center;
  color: #237a57;
}

h3 {
  font-size: 2em;
}

#inicio {
  width: 100%;
  height: 40vh;
  background-color: #004d61;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#container-info {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

#container-info>div {
  flex: 1;
  height: 60vh;
}

#container-info>div:nth-child(1) {
  background-color: #b52b2b;
}

#container-info>div:nth-child(2) {
  background-color: #ffa372;
}

#container-info>div:nth-child(3) {
  background-color: #5bd1d7;
}

#login {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
}

#login>div {
  text-align: center;
  flex: 1;
}

#login>div>img {
  max-width: 100%;
  opacity: 0.8;
  height: -webkit-fill-available;
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

#login>div:nth-child(1) {
  flex-grow: 4;
  background: #11998e;
  background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
  border-top-left-radius: 2%;
  border-bottom-left-radius: 2%;
}

#login>div:nth-child(2) {
  flex-grow: 6;
  background: white;
  border-top-right-radius: 2%;
  border-bottom-right-radius: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login div form input {
  outline: 0;
  background: white;
  border: 2px solid #274a3e;
  border-radius: 50px;
  padding: 7px;
  min-width: 300px;
  color: transparent;
  text-shadow: 0 0 0 #6f3b3b;
  margin-bottom: 30px;
}

#login div form>#form-username {
  background-image: url("../images/user.png");
  background-position: 8px 0px;
  background-repeat: no-repeat;
}

#login div form>#form-password {
  background-image: url("../images/password.png");
  background-position: 8px 0px;
  background-repeat: no-repeat;
}

#login div form input[type="submit"] {
  background: #274a3e;
  color: white;
  cursor: pointer;
}

#login div form input[type="submit"]:hover {
  color: #274a3e;
  background: white;
}